* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #fefefe;
  box-sizing: border-box;
  font-size: 12px;
}

body {
  font-family: Roboto, Noto, 'San Francisco', Ubuntu, 'Fira Sans', message-box, Arial, sans-serif;
  inline-size: 100px;
  max-inline-size: 100px;
}

#container-list {
  --icon-size: 15px;
  --size: 24px;
}

#container-list ul {
  cursor: pointer;
}

#container-list ul.disabled {
  cursor: wait;
}

#container-list ul:not(.disabled) li:hover,
#container-list li.clicked {
  background: #eee;
}

#container-list li {
  display: flex;
  justify-content: space-around;
  align-content: center;
  list-style: none;
  height: var(--size);
  line-height: var(--size);
  padding: 0 4px;
}

#container-list li:last-child {
  border-top: 1px #eee solid;
}

.icon {
  overflow: hidden;
}

.icon > i {
  position: relative;
  background-size: var(--icon-size) var(--icon-size);
  width: var(--icon-size);
  height: var(--icon-size);
  overflow: hidden;
  left: calc(var(--icon-size) * -1);
  border-right: var(--icon-size) solid transparent;
}

.container-name {
  flex: 1;
  max-inline-size: 160px;
  padding-inline-end: 4px;
  padding-inline-start: 4px;
  line-height: var(--size);
  overflow: hidden;
  white-space: nowrap;
}
